version: '3'

services:

  http-coap-interface:
    build:
      context:        ./http-coap-interface
      # dockerfile:     Dockerfile
      dockerfile:     DockerfileRpi
    hostname:         http-coap-interface
    container_name:   http-coap-interface
    network_mode:     host
    volumes:
      -               ./http-coap-interface/src:/usr/src/app
    ports:
      -               "5000:5000"
    env_file:
      -               env
    command:          python3 app.py

  http-to-coap-web-client:
    # service header
    image:            httpd:2.4
    hostname:         http-to-coap-web-client
    container_name:   http-to-coap-web-client
    volumes:
        -             ./http-to-coap-web-client:/usr/local/apache2/htdocs/
    ports:
      -               "5001:80"
